@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema Escuro */
.theme-dark {
  --bg-color: #121212;
  --bg-card: #1f2937;
  --text-color: #FFFFFF;
  --primary-color: #1DB954;
  --secondary-color: #535353;
  --accent-color: #F5F5F5;
  --input-bg: #1c1c1c;
  --input-border: #333333;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

/* Tema Claro */
.theme-light {
  --bg-color: #FFFFFF;
  --bg-card: #f1f1f1;
  --text-color: #121212;
  --primary-color: #0077B6;
  --secondary-color: #00B4D8;
  --accent-color: #90E0EF;
  --input-bg: #FFFFFF;
  --input-border: #CCCCCC;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Tema Minimal Blue */
.theme-minimalBlue {
  --bg-color: #FFFFFF;
  --bg-card: #BDC3C7;
  --text-color: #212121;
  --primary-color: #3498DB;
  --secondary-color: #2980B9;
  --accent-color: #2980B9;
  --input-bg: #FFFFFF;
  --input-border: #CCCCCC;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

/* Tema Pastel */
.theme-pastel {
  --bg-color: #F7F6F2;
  --bg-card: #EDF2F4;
  --text-color: #2B2D42;
  --primary-color: #8D99AE;
  --secondary-color: #EF233C;
  --accent-color: #8D99AE;
  --input-bg: #FFFFFF;
  --input-border: #BBBBBB;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Tema Purple Mono */
.theme-purpleMono {
  --bg-color: #F3F1F5;
  --bg-card: #C06C84;
  --text-color: #333333;
  --primary-color: #6C5B7B;
  --secondary-color: #F67280;
  --accent-color: #F67280;
  --input-bg: #F3F1F5;
  --input-border: #BBBBBB;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

/* Tema Dark Yellow */
.theme-darkYellow {
  --bg-color: #1E1E24;
  --bg-card: #333333;
  --text-color: #FAFAFA;
  --primary-color: #FCA311;
  --secondary-color: #F77F00;
  --accent-color: #F77F00;
  --input-bg: #2C2C2C;
  --input-border: #555555;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

/* Tema Retro Green */
.theme-retroGreen {
  --bg-color: #FCF8E8;
  --bg-card: #A3B18A;
  --text-color: #2F2F2F;
  --primary-color: #3A5A40;
  --secondary-color: #DDA15E;
  --accent-color: #DDA15E;
  --input-bg: #FCF8E8;
  --input-border: #B8B8A8;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* Aplicação de variáveis no layout */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--bg-card);
  box-shadow: 0 4px 8px var(--shadow-color);
}

button, .btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

input {
  background-color: var(--input-bg);
  border-color: var(--input-border);
}

a, .link {
  color: var(--accent-color);
  text-decoration: underline;
  transition: color 0.3s;
}

a:hover, .link:hover {
  color: var(--primary-color);
}

/* globals.css */

.fade-transition {
  opacity: 0;
  transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

body:not(.fade-transition) {
  opacity: 1;
  transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}
